<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
        <% if @user.image.attached? %>
          <%= image_tag @user.image, size: "100x100" %>
        <% else %>
          <%= image_tag 'no_image', size: "100x100" %>
        <% end %>
      <h2 class="mt-3">New Book</h2>
      <%= form_with model: book.new do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="form-group">
        <%= f.label :opinion %>
        <%= f.text_area :body %>
      </div>
      <div class="form-group">
        <% f.submit 'Create Book', class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>

<div class="col-md-8 offset-md-1">
  <h2>Books</h2>
  <table class="table table-hover table-inverse">
    <thred>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th colspan="3"></th>
      </tr>
    </thred>
    <tbody></tbody>
  </table>
  <% @books.each do |book| %>
</div>